body {
  margin: 0;
}
.contents {
  margin-left: 20px;
  margin-top: 20px;
  margin-right: 20px;
}
h1 {
  padding-left: 10px;
}
input {
  padding: 7px;
  font-size: 13px;
}
.button {
  margin-top: auto;
  margin-left: auto;
}
