a {
  text-decoration: none;
  color: black;
}
h1 {
  font-size: 80px;
  margin: 0;
  text-align: center;
  border-bottom: 3px double brown;
}
body {
  margin: 0;
}
#grid {
  display: grid;
  grid-template-columns: 200px 1fr;
}
input {
  padding: 7px;
  font-size: 15px;
}
.input {
  text-align: center;
}
.leftVertical {
  border-right: 3px double brown;
  margin: 0;
  padding: 13px;
}
.right {
  margin: 10px;
}
ul {
  padding-left: 33px;
}

/* 3_JavaScript 에만 해당 됨 */
.leftVertical2 {
  border-right: 3px double brown;
}
.JavaScript_Study {
  padding-left: 30px;
  border-top: 2px solid lightslategray;
  border-bottom: 2px solid lightslategray;
  margin-top: 30px;
}
h3 {
  margin-bottom: 10px;
}
/* 3_JavaScript 에만 해당 됨 */
@media (max-width:600px) {
  #grid {
    display: block;
  }
  h1 {
    border: none;
  }
  ul {
    display: table;
    margin-left: auto;
    margin-right: auto;
  }
  .leftVertical {
    border: none;
  }
  .input {
    text-align: center;
  }
/* 3_JavaScript 에만 해당 됨 */
  .JavaScript_Study {
    border: none;
    padding: 0;
    display: table;
    margin-left: auto;
    margin-right: auto;
  }
  .JavaScript_Study h3 {
    text-align: center;
  }
  /* 3_JavaScript 에만 해당 됨 */
}
