a {
  text-decoration: none;
  color: dimgray;
}
h1 {
  font-size: 80px;
  margin: 0;
  text-align: center;
  border-bottom: 3px double brown;
}
body {
  margin: 0;
}
#grid {
  display: grid;
  grid-template-columns: 200px 1fr;
}
input {
  padding: 7px;
  font-size: 18px;
}
.input {
  padding-left: 20px;
  padding-right: 20px;
}
.left {
  border-right: 3px double brown;
  margin: 0;
  padding: 13px;
}
.right {
  margin: 10px;
}
ul {
  padding-left: 33px;
}
